.navigation {
  color: var(--dark-color);
  background-color: var(--white-color);
  border-top: 1px solid var(--gray-200-color);
  border-bottom: 1px solid var(--gray-200-color);
  height: 56px;
}

.navigation,
.navigation .nav-links,
.navigation .nav-links div,
.navigation .lang-ship {
  display: flex;
  align-items: center;
}

.navigation .nav-links {
  gap: 10px;
  color: var(--dark-color);
}

.navigation .nav-links img {
  cursor: pointer;
}

.navigation .nav-links div {
  gap: 28px;
}

.navigation .nav-links a {
  color: var(--dark-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.navigation select {
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navigation .lang-ship {
  gap: 32px;
}