.paper {
  flex: 1;
}

.paper .account__paper {
  width: 200px;
  min-height: 95px;
  border-radius: 6px;
  background: var(--light2-blue);
  padding: 17px 10px 12px;
}

.paper .account__paper div {
  display: flex;
  gap: 9px;
  margin-bottom: 5px;
}

.paper .account__paper div img {
  max-width: 100%;
  width: 44px;
  border-radius: 50%;
}

.paper .account__paper div p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paper .account__paper button {
  display: block;
  width: 100%;
  border-radius: 6px;
  padding: 7px 0px;
  cursor: pointer;
}

.paper .account__paper button:first-of-type {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-bottom: 6px;
}

.paper .account__paper button:last-child {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
}