.landing__card {
  position: relative;
  background-image: url("../../../../public/assets/landingImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 664px;
  height: 373px;
  background-color: red;
}

.landing__card .text {
  position: absolute;
  font-style: normal;
  line-height: normal;
}

.landing__card .text p {
  font-size: 28px;
  font-weight: 400;
}

.landing__card .text h1 {
  font-size: 32px;
  font-weight: 700;
}